h1 {
    color: orange;
    text-align: right;
}
p > em {
    background-color: green;
    font-weight: bold;
    color: white;
}
p + h2 {
    color: orange;
}
ul + h2 {
    color: #0000bf;
}
span {
    font-weight: bold;
}
p ::first-letter {
    color: red;
    font-size: 30px;
}
li.grey {
    color: grey;
}
li.red {
    color: red;
}
li.green {
    color: green;
}
td.bold {
    font-weight: bold;
}
td.center {
    text-align: center;
}
td.color {
    background-color: green;
    color: white;
}
td.yellow {
    color: yellow;
}