span {
    color: #FFFFFF;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

input + label {
    color: red;
    text-decoration: underline;
}

label[for="green"] {
    color: green;
    text-decoration: underline;
}

label[for="blue"] {
    color: blue;
    text-decoration: underline;
}

input[type="checkbox"] {
    display: none;
}

input:checked span .red {
    background-color: #FFFFFF;
}

input[id="red"]:checked ~ .green  {
    background-color: white;
}

input[id="red"]:checked ~ .blue  {
    background-color: white;
}

input[id="green"]:checked ~ .red  {
    background-color: white;
}

input[id="green"]:checked ~ .blue  {
    background-color: white;
}

input[id="blue"]:checked ~ .red  {
    background-color: white;
}

input[id="blue"]:checked ~ .green {
    background-color: white;
}

